
.all_patients{
    padding-top: 60px;
    width: 80%;
  }
  
  .all_patients h3{
    text-align: center;
  }

  .all-patients_table1{
    margin-top: 30px;
  }
  .all_patients_table_head {
    justify-content: space-between;
  }
  .datepicker{
    height:25px;
  }
  .time{
    margin-top: 3px;
  }

  .second_table{
    margin-top: 30px;
  }

  main {
  
    min-height: 100vh;
  }

.delete_img{
    width: 20px;
}
.edit_img{
    width: 20px;
}
