*{
    padding: 0;
    margin: 0;
}


body{
    background-repeat: no-repeat;
}
.main{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.all_appointments{
    margin: 0 auto;
    font-weight: bold;
    margin-top: 60px;
}
form{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    
}

.add_container{
    margin: 50px 0 50px 0;
}
.twoforms{
    gap: 0.5%;
}

h3{
    text-align: center;
    background-color: #54b4d3;
    padding: 1%;
    color: white;
    border-radius: 10px;
}

.add-button{
    margin: 0 auto;
}
#add_patient_button{
    background-color:#54b4d3;
    border: 4px solid #54b4d3;
    padding: 1%;
    font-weight: bold;
}

#add_appointment_btn{
    background-color: #54b4d3;
    border: 4px solid #54b4d3;
    padding: 1%;
    font-weight: bold;

}

.patient_form{
  color: black;

}

.patient_update_form{
    margin-bottom: 20px;
}

.backgroundimg{
    background-image: url("/static/assets/images/main.png");
    height: 200px;
    width: 95%;
    background-repeat: no-repeat;
    margin: 0 auto;

    
}

#passed_appoint{
    color: green;
    width: 60%;
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
}

.delete_img{
    width: 20px;
}
.edit_img{
    width: 20px;
}

@media (max-width: 979px) {
    .one_patient_container {
      margin-top: 60px;
    }
  }

  @media (max-width: 979px) {
    .main {
      padding-top: 0px;
    }
  }

  .admin-key{
    margin: 150px 0 294px 0;
  }

